<h1>Balances</h1>

        <div class=" list_item">
             <div class="col-md-1 ">
                 <div class="row">
                 <label>
                 <img src="img/Blogo.png" />
                     </label>
                     </div>
             </div>
            <div class="col-md-3 ">
                <div class="row">
                 <label>
              Account Number
                     </label>
                <span>
                   XXX-XXXXX7-013
                </span>
                    </div>
             </div>
            <div class="col-md-3 ">
                <div class="row">
                 <label>
               Type
                     </label>
                <span>
                    Statement Savings Account
                </span>
                    </div>
             </div>
            <div class="col-md-2 ">
                <div class="row">
                 <label>
               Ccy
                     </label>
                <span>
                    U.S Dollar
                </span>
                    </div>
             </div>
            <div class="col-md-3 ">
                <div class="row">
                 <label>
               Balance
                     </label>
                <span>
                    {{ root.balance }}
                </span>
                    </div>
             </div>
        </div>